.search-results-list, .selected-results-list {
  margin-left: 0;
  li {
    list-style-type: none;
    margin-bottom: 20px;
  }
}

.add-review-notes {
  font-style: italic;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.slider {
  margin-left: 0px !important;
}

.dragger {
  border-radius: 40px !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center;
  padding-top: 6px;
  color: white;
}

.edit-list-link {
  margin-left: 15px;
  font-size: 20px;
}

.notes {
  margin-bottom: 10px !important;
}