<% if notice %>
  <div data-alert class="alert-box info">
    <!-- Your content goes here -->
    <p><%= notice %></p>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<% if alert %>
  <div data-alert class="alert-box">
    <!-- Your content goes here -->
    <p><%= alert %></p>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>